# Pants workspace files
/.pants.*
/dist/
/.pids
bazel/
/.cache/

.idea/
*.tgz
*.tgz.prov

.aws_config
.aws_credentials
*.env
*.envrc
!*.env.sample
*.dec.yaml
private_key.pem
*.xpkg

*.yaml.dec
node_modules/
*.iml
.scannerwork/
coverage-reports/
.coverage
xunit-reports/
.envrc
setup.cfg
build/
dist/
*.egg-info/

.tox/
__pycache__/

*.c
*.so
